@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  transition: 0.7s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

body {
  height: 100vh;
  background: #f7cf31;
  overflow-x: hidden;
}

nav {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul {
  list-style: none;
  display: inherit;
}
nav ul li {
  padding: 8px;
}
nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7960784314);
  font-weight: 700;
}
nav button {
  padding: 14px 20px;
  font-weight: 600;
  border-radius: 22px;
  font-size: 20px;
  color: #fff;
  border: none;
  background: linear-gradient(90deg, rgb(255, 158, 0) 0%, rgb(255, 38, 0) 100%);
  display: none;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/header-bg-img/Group\ 327.png);
}
header .header-conts {
  width: inherit;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
header .header-conts .desciption h1 {
  font-size: clamp(33px, 10vw, 90px);
}
header .header-conts .desciption p {
  font-size: 18px;
  max-width: 600px;
  margin: 30px 0;
}
header .header-conts .desciption button {
  padding: 14px 12px;
  border: none;
  font-weight: 600;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(8, 0, 255) 0%, rgb(255, 158, 0) 100%);
  color: #fff;
  font-size: 22px;
  margin: 10px;
}
header .header-conts .header-hero-img #fancy-hero-shape {
  width: 400px;
  height: 400px;
  background-image: linear-gradient(90deg, rgb(255, 158, 0) 0%, rgb(255, 38, 0) 100%);
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  animation: infinite 20s fancyHeroShape;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes fancyHeroShape {
  0% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
  10% {
    border-radius: 89% 11% 35% 65%/30% 30% 70% 70%;
  }
  20% {
    border-radius: 89% 11% 35% 65%/30% 77% 23% 70%;
  }
  30% {
    border-radius: 36% 64% 35% 65%/84% 77% 23% 16%;
  }
  40% {
    border-radius: 36% 64% 35% 65%/84% 15% 85% 16%;
  }
  50% {
    border-radius: 36% 64% 35% 65%/32% 15% 85% 68%;
  }
  60% {
    border-radius: 36% 64% 35% 65%/32% 83% 17% 68%;
  }
  70% {
    border-radius: 34% 66% 35% 65%/82% 35% 65% 18%;
  }
  80% {
    border-radius: 34% 66% 7% 93%/82% 81% 19% 18%;
  }
  90% {
    border-radius: 95% 5% 71% 29%/33% 29% 71% 67%;
  }
  100% {
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  }
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main #advantages-sec {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}
main #advantages-sec #title {
  font-size: 48px;
}
main #advantages-sec #advantage-container {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main #advantages-sec #advantage-container #adv-content {
  width: 400px;
  height: 200px;
  padding: 22px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 30px;
}
main #advantages-sec #advantage-container #adv-content img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #advantages-sec #advantage-container #adv-content:nth-child(1) {
  background: linear-gradient(135deg, #f7cf31, #ff7e5f, #feb47b);
}
main #advantages-sec #advantage-container #adv-content:nth-child(2) {
  background: linear-gradient(135deg, #f7cf31, #1c92d2, #f2fcfe);
}
main #advantages-sec #advantage-container #adv-content:nth-child(3) {
  background: linear-gradient(135deg, #f7cf31, #e17055, #d63031);
}
main #advantages-sec #advantage-container #adv-content:nth-child(4) {
  background: linear-gradient(135deg, #f7cf31, #e17055, #d63031);
}

@media screen and (max-width: 660px) {
  nav #nav-res {
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    top: -100%;
    left: 0;
    padding: 70px 30px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    height: auto;
    z-index: 110;
  }
  nav button {
    display: block;
    z-index: 130;
  }
}/*# sourceMappingURL=styles.css.map */